.btn {
    border-radius: 5px;
    font-family: "Russo One", sans-serif;
    font-style: normal;
    color: $white;

    &:hover {
        opacity: .9;
        cursor: pointer;
    }

    &:focus {
        opacity: .9;
        outline: none;
    }

    &:active {
        transform: scale(0.98);
        box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
    }

    &_purple {
        background-color: $purple;
    }

    &_yellow {
        background-color: $yellow;
        margin-left: 9px;
    }
}

.header {
    &__btn {
        padding: 9px;
        font-size: 16px;
        line-height: 19px;
    }

    &-btns-svg {
        background-color: $black;

        &:hover {
            opacity: .9;
            cursor: pointer;
        }
    
        &:focus {
            opacity: .9;
            outline: none;
        }
    
        &:active {
            transform: scale(0.98);
            box-shadow: 3px 2px 22px 1px rgba(0, 0, 0, 0.24);
        }
    }
}

.main-block {
    &__btn {
        padding: 23px 85px;
        //padding-top: 23px;
        //padding-bottom: 23px;
        font-size: 24px;
        line-height: 29px;
        width: 393px;

    }
}