@font-face {
    font-family: "RussoOne";
    src: url(./Russo_One/RussoOne-Regular.ttf);
}
@font-face {
    font-family: "Play_normal";
    src: url(./Play/Play-Regular.ttf);
}
@font-face {
    font-family: "Play_bold";
    src: url(./Play/Play-Bold.ttf);
}