$white: #FFFFFF;
$black: #000000;
$gray1: #161616;
$gray2: #636363; //light placeholder
$gray3: #959595; //dark placeholder
$gray4: #D9D9D9;
$gray5: #212121;
$gray6: #464646;
$yellow: #FFB800;
$purple: #A347FF;
$purple2: #CA95FF; //link
$purpleBg: #28133D;
$blue: #369EFF;
$green: #34DF6E;
